<% if opts[:element] %>
  <<%= opts[:element] %> class="trex-language-selector <%= opts[:class] %>" style="<%= opts[:style] %>">
<% end %>

<div style="<%=opts[:style]%>" class="trex-language-selector <%=opts[:class]%>">

  <% tml_application.languages.each_with_index do |lang, index| %>

    <%= link_to(params.merge(:locale => lang.locale), :style => (opts[:style] || 'padding-right:5px;text-decoration:none'), :class => opts[:class]) do %>
        <%= image_tag(lang.flag_url) %>
    <% end %>

  <% end %>

</div>

<% if opts[:element] %>
  </<%= opts[:element] %>>
<% end %>
