<% if tml_session.tools_enabled? or type.blank? %>
  <%
     if tml_session.tools_enabled?
       opts[:method] = 'Tml.UI.LanguageSelector.show(); return false;'
     end
  %>

  <%= link_to('#',
        :onclick => (opts[:method] || "alert('Custom language selector can be specified by passing it in the method attribute of the language selector tag.');"),
        :style => (opts[:style] || 'padding-right:5px;text-decoration:none'),
        :class => opts[:class]
      ) do %>
    <% unless opts[:hide_flag] %>
      <%= image_tag(tml_current_language.flag_url, :style => "align:middle") %>
      &nbsp;
    <% end %>
    <% if opts[:language] == :native %>
      <%= tml_current_language.native_name %>
    <% elsif opts[:language] == :english %>
      <%= tml_current_language.english_name %>
    <% else %>
      <%= tml_current_language.english_name %>
    <% end %>
  <% end %>

<% elsif type == :list %>
  <div style="padding-top:10px;">
    <% tml_application.languages.each_with_index do |lang, index| %>
      <% next if opts[:limit] and index >= opts[:limit] %>
      <%= link_to(params.merge(:locale => lang.locale), :style => (opts[:style] || 'padding-right:5px;text-decoration:none'), :class => opts[:class]) do %>
        <% if opts[:flags_only] or opts[:flags] %>
          <%= image_tag(lang.flag_url) %>
        <% end %>
        <% unless opts[:flags_only] %>
          <%= lang.english_name %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% elsif type == :dropdown %>

  <script>
    function tml_change_locale(selector) {
      var query_parts = window.location.href.split('?');
      var query = query_parts.length > 1 ? query_parts[1] : null;
      var params = {};
      if (query) {
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          params[pair[0]] = pair[1];
        }
      }
      params['locale'] = selector.options[selector.selectedIndex].value;

      query = [];
      var keys = Object.keys(params);
      for (var i = 0; i < keys.length; i++) {
        query.push(encodeURIComponent(keys[i]) + "=" + encodeURIComponent(params[keys[i]]));
      }

      var destination = query_parts[0] + '?' + query.join("&");
      window.location = destination;
    }
  </script>

  <select id="tml_language_selector" onchange="tml_change_locale(this)" style="<%=opts[:style]%>" class="<%=opts[:class]%>">
    <% tml_application.languages.each do |lang| %>
      <option dir='ltr' value="<%=lang.locale%>" <%="selected" if lang.locale == tml_current_locale %>>
        <% if opts[:language] == :native %>
          <%= lang.native_name %>
        <% elsif opts[:language] == :english %>
          <%= lang.english_name %>
        <% else %>
          <%= lang.english_name %>
        <% end %>
      </option>
    <% end %>
  </select>

<% end %>
