<%
   opts[:element] ||= 'div'
   opts[:class] ||= 'dropdown'
%>

<<%= opts[:element] %> class="<%= opts[:class] %>" style="<%= opts[:style] %>">
  <a href="#" role="button" class="<%= opts[:class] || 'dropdown' %>-toggle" data-toggle="dropdown">
    <%= tml_language_name_tag(tml_current_language, opts) %>
  </a>

  <ul class="dropdown-menu" role="menu">

    <% tml_application.languages.each do |lang| %>

      <li role="presentation">
        <%=link_to({:locale => lang.locale}) do %>

          <%= tml_language_name_tag(lang, opts) %>

        <% end %>
      </li>

    <% end %>

    <% if opts[:toggle] %>
      <li role='presentation' class='divider'></li>
      <li role='presentation'>
        <a href='javascript:void(0);' onclick='Tml.Utils.toggleInlineTranslations()'>
          <%= tr(opts[:toggle_label] || 'Help Us Translate') %>
        </a>
      </li>
    <% end %>

    <li role='presentation' class='divider'></li>

    <div style="font-size:8px;color:#ccc;text-align: center; background: #eee; padding:8px; margin-top: -10px; margin-bottom: -5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
      <a href="http://translationexchange.com" style="color: #888;">
        Powered By Translation Exchange
      </a>
    </div>
  </ul>
</<%= opts[:element] %>>

