<%
   opts[:element] ||= 'div'
   opts[:class] ||= 'dropdown'
%>


<style>
  .trex-dropdown {
    text-align:<%= tml_current_language.align("left") %>;
  }

  .trex-dropdown .trex-dropdown-menu {
    min-width:200px;
  }

  .trex-dropdown .trex-dropdown-footer {
    font-size:10px;
    color:#ccc;
    text-align: center; 
    background: #f5f5f5; 
    padding:5px; 
    margin-top: -10px; 
    margin-bottom: -5px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
  }

</style>


<<%= opts[:element] %> class="trex-dropdown <%= opts[:class] %>" style="<%= opts[:style] %>">
  <a href="#" role="button" class="<%= opts[:class] || 'dropdown' %>-toggle" data-toggle="dropdown" dir="<%= tml_current_language.dir %>">
    <%= tml_language_name_tag(tml_current_language, opts) %>
  </a>

  <ul class="dropdown-menu trex-dropdown-menu">

    <% tml_application.languages.each do |lang| %>

      <li dir="<%= tml_current_language.dir %>">
        <%=link_to({:locale => lang.locale}) do %>
          <%= tml_language_name_tag(lang, opts) %>
        <% end %>
      </li>

    <% end %>

    <% if opts[:toggle] %>
      <li role='presentation' class='divider'></li>
      <li role='presentation'>
        <a href='javascript:void(0);' onclick='Tml.Utils.toggleInlineTranslations()'>
          <%= tr(opts[:toggle_label] || 'Help Us Translate') %>
        </a>
      </li>
    <% end %>

    <li role='presentation' class='divider'></li>

    <div class="trex-dropdown-footer">
      <a href="http://translationexchange.com" style="color: #888;">
        <%= tr("Powered By {brand}", brand: "Translation Exchange") %>
      </a>
    </div>
  </ul>
</<%= opts[:element] %>>

