<style>
  #navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
  }
</style>

<footer>
  <div class='container'>
    <ul id='navlist' style='float:right;'>
      <li><%=link_to(tr('Documentation'), 'http://translationexchange.com/docs', :class => 'quiet')%></li>

      <li><%=link_to(tr('Source'), 'https://github.com/translationexchange/tml-rails', :class => 'quiet')%></li>
      <li><%=link_to(tr('Facebook'), 'http://www.facebook.com/translationexchange', :class => 'quiet')%></li>
      <li><%=link_to(tr('Twitter'), 'https://twitter.com/translationx', :class => 'quiet')%></li>
    </ul>

    &copy; 2015 <%=link_to('Translation Exchange, Inc', 'http://translationexchange.com', :class => 'quiet')%>
  </div>
</footer>

<%= render '/tml_rails/tags/powered_by_trex' %>
