<%= tml_block(:source => 'navigation') do %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/home">
          <span class="h3"><%= tr("Tml For Ruby on Rails") %></span>
        </a>

        <ul class="nav">
          <li class="<%= "active" if controller.controller_name.to_s == 'docs' and controller.action_name.to_s == 'index' %>"><%= link_to(tr("Documentation & Samples"), :controller => :docs, :action => :index) %></li>
          <li class="<%= "active" if controller.controller_name.to_s == 'docs' and controller.action_name.to_s == 'tml' %>"><%= link_to(tr("TML Interactive Console"), :controller => :docs, :action => :tml) %></li>
        </ul>

        <div class="navbar-right navbar-text pull-right">
          <%= tml_language_selector_tag(:bootstrap) %>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <%= render :partial => "/layouts/flashes" %>
  </div>

<% end %>

<script>
  $(function () {
    $('#user_menu_trigger').dropdown();
  });
</script>