<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%= tml_current_locale %>">
<html <%=tml_html_attributes_tag%> >
<head>
  <%=render :partial => "/layouts/head" %>
</head>
<body>
  <%=render :partial => "/layouts/header" %>
  <div class="container">
    <%= yield %>
  </div>
  <%=render :partial =>"/layouts/footer" %>
</body>
</html>
