<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= tml_source('emails/welcome') do %>
  <h1><%= tr('Welcome to example.com, {user}', user: @user.name) %></h1>
  <p>
    <%= tr('You have successfully signed up to example.com') %>
  </p>
  <p>
    <%= tr('To login to the site, just follow this link: {url}', url: @url) %>.
  </p>
  <p><%= tr('Thanks for joining and have a great day!') %></p>
<% end %>
</body>
</html>