<p>
  <%= t(:hello) %>
</p>

<p>
  <%= number_to_currency(1000, :unit => "R") %>
</p>

<p>
  <%= t(:'my.nested.key') %>
  <br>
  <%= t(:hello_test, default: [:'my.nested.key', 'Not there']) %>
  <br>
  <%= t(:hello_test, default: [:'my.nested.key2', 'Not there']) %>

<p>

  <%= t(:confirmed_not, scope: 'messages', default: [:'confirmed']) %>

</p>

<p>

  <%= number_to_human(500000, units: {unit: "ml", thousand: "lt"}) %>
  <br>

  <%= t(:confirmed_not, scope: 'messages', default: [:'confirmed']) %>

</p>
